# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv*/
venv*/
env*/

# PyCharm / IDE
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build / dist
build/
dist/